/********************************
   CSS for Latest News/Home page
*********************************/

/***		Carousel          ***/

#carousel {
	width: 100%;
	position: relative;
	padding-top: 65px;
}

.carousel .item img {
	width: 100%;
	max-height: 600px;
}

.carousel .carousel-control {
	background: none;
	border: none;
	top: 50%;
}

.carousel-text {
	font-size: large;
	font-weight: bold;
	color: #FFFFFF;
}


/***		News grids        ***/

.story-width {
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}
.story-img {
    display: block;
	margin: 0 auto;
	
	width: auto;
	max-width: 100%;
    height: auto;
	max-height: 100%;
	border-top: 60px solid transparent;
}

.story-text {
	width: auto;
	height: 125px;
	border-bottom: 2px solid #D31411;
	overflow: hidden;
	transition: background-color 0.5s ease;
	background-color: #FFFFFF;
	color: #000000;
}

.story-text:hover {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
}

.footer-extra-space {
	width: 100%;
	height: 80px;
}

.home-h3 {
	width: auto;
	margin-left: 15px;
	padding-right: 10%;
	padding-left: 10%;
	position: relative;
	text-align: center;

	margin-top: 10px;
	font-size: 26px;
	font: bold;
}

.home-h3:hover {
	text-decoration: none;	
}