/********************************
  CSS for main body & containers
*********************************/
		
body {
	font-weight:normal;
	color:#000000;
	letter-spacing:0pt;
	word-spacing:0pt;
	font-size:1em;
	text-align:left;
	font-family:tahoma, verdana, arial, sans-serif;
	line-height:1;

	background: rgba(158,158,158,1);
	background: -moz-linear-gradient(left, rgba(158,158,158,1) 0%, rgba(219,219,219,1) 25%, rgba(235,235,235,1) 51%, rgba(219,219,219,1) 75%, rgba(158,158,158,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(158,158,158,1)), color-stop(25%, rgba(219,219,219,1)), color-stop(51%, rgba(235,235,235,1)), color-stop(75%, rgba(219,219,219,1)), color-stop(100%, rgba(158,158,158,1)));
	background: -webkit-linear-gradient(left, rgba(158,158,158,1) 0%, rgba(219,219,219,1) 25%, rgba(235,235,235,1) 51%, rgba(219,219,219,1) 75%, rgba(158,158,158,1) 100%);
	background: -o-linear-gradient(left, rgba(158,158,158,1) 0%, rgba(219,219,219,1) 25%, rgba(235,235,235,1) 51%, rgba(219,219,219,1) 75%, rgba(158,158,158,1) 100%);
	background: -ms-linear-gradient(left, rgba(158,158,158,1) 0%, rgba(219,219,219,1) 25%, rgba(235,235,235,1) 51%, rgba(219,219,219,1) 75%, rgba(158,158,158,1) 100%);
	background: linear-gradient(to right, rgba(158,158,158,1) 0%, rgba(219,219,219,1) 25%, rgba(235,235,235,1) 51%, rgba(219,219,219,1) 75%, rgba(158,158,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9E9E9E', endColorstr='#9e9e9e', GradientType=1 );
}

.container-border {
	border-bottom: 3px solid #D31411;
	margin-bottom: 15px;
}

/********************************
	 CSS for navbar (Header)
*********************************/

.nav.navbar-nav li a {
	color: rgb(130, 130, 130);
}
.nav.navbar-nav li a:hover {
	color: #FFFFFF;
}

.navbar-style {
	width: 100%;
	background: #000000;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.dropdown-menu a {
	background: #000000;
	color: #000000;
	margin: 0 auto;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.logo {
	max-width: 65px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
}


/********************************
		CSS for Team group
*********************************/

.teams-header {
	margin-top: 50px;
	margin-bottom: 20px;
}

.team-width {
	max-width: 90%;
	max-height: 100%;
	padding: 0;
}

.team-info {
	background-color: #FFFFFF;
	border-bottom: 1px solid #F0F0F0;
	max-width: 90%;
	height: 300px;
	max-height: 100%;
	padding: 0;
	position: relative;
	z-index:0;
	transition: background-color 0.5s ease;
	transition: all .2s ease-in-out;
	background-color: #FFFFFF;
	color: #000000;
}

.team-img {
	height: 300px;
	width: 100%;
	max-width: 90%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #FFFFFF;
}

.team-info:hover, .team-img:hover {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
}

.team-info:hover {
	transform: scale(1.1);
	z-index: 1;
}

.teams-hover {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
}

.team-details {
	height: 280px;
	border: 2px solid black;
}

.team-driver {
	height: 300px;
	width: auto;
	max-width: 100%;
	max-height: 100%;
}


/********************************
	CSS for Individual Teams
*********************************/

/*. {
	
}*/


/********************************
	   CSS for Driver group
*********************************/

/*. {
	
}*/


/********************************
	CSS for Individual Drivers
*********************************/

/*. {
	
}*/


/********************************
		CSS for footer
*********************************/

footer {
	width: 100%;
	height: 225px;
	bottom: 0;
	overflow: auto;
}

.footer-style {
	margin: 0;
	font-size: 15px;
	font-weight: bold;
}

.footer-background {
	padding-top: 35px;
	background-color: #000000;
}

a.highlight:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.footer-color {
	color: rgb(130, 130, 130);
}

.footer-lining {
	margin-top: 25px;
	width: 100%;
	height: 1px;
	background-color: rgb(130, 130, 130);
}

.f1-footer-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 120px;
	height: auto;
}

.tata-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 175px;
	height: auto;
}

.cr-footer {
	margin-top: 30px;
	float: left;
	color: rgb(130, 130, 130);
	font-size: 10px;
}