/********************************
	 CSS for navbar (Header)
*********************************/
.nav.navbar-nav li a {
	color: rgb(130, 130, 130);
}
.nav.navbar-nav li a:hover {
	color: #FFFFFF;
}

.navbar-style {
	width: 100%;
	background: #000000;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.dropdown-menu a {
	background: #000000;
	color: rgb(130, 130, 130) !important;
}

.dropdown-menu a:hover {
	color: #000000 !important;
}

.logo {
	max-width: 65px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -5px;
}


/********************************
   CSS for Latest News/Home page
*********************************/

/***		Carousel         ***/

.carousel-boxsize {
	min-width: 100%;
	position: relative;
	background: #353535;
	padding-top: 65px;
	padding-bottom: 15px;
}

.carousel .item {
	width: 100%;
	max-height: 600px;
}

.carousel .item img {
	width: 100%;
	height: auto;
}

.carousel .carousel-control {
	background: none;
	border: none;
	top: 50%;
}

.carousel-text {
	font-size: large;
	font-weight: bold;
	color: rgb(120, 120, 120);
}

/********************************
		CSS for 
*********************************/
