.sim-buttons {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 1200px;
	height: 100px;
	border: 2px solid black;
	text-align: center;
	
}

.track-size {
	margin-left: 5%;
}

.live-leaderboard {
	margin-top: 5px;
	width: 1200px;
	height: 500px;
	border: 2px solid black;
	text-align: left;
}